<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">

    <!-- versionCode is optional and Android only -->

    <name>SFO-RDOs</name>

    <description>
        RDO's for Delta San Francoisco departmentr 125. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Jorge Renteria 
    </author>
	<preference name="phonegap-version" value="cli-6.0.0" />
		
		<icon src="icon.png" />


</widget>



